<div class="row">
  <div class="col-8">
    <h1><%= @team.name %>'s Page</h1>
  </div>
  <div class="col-4 text-center">
    <% if current_user == @team.user %>
      <%= link_to "Delete Team?", @team, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
    <% end %>
  </div>
</div>
<%= render 'layouts/profile_page' %>